.mainImg {
  position: relative;
  width: 300px;
  height: auto;
  top: 0;
  left: 0;
}

.overlayImg {
  position: absolute;
  width: 300px;
  height: auto;
  top: 0;
  left: 0;
}

.imgParent {
  position: relative;
  top: 0;
  left: 0;
}

table, th, td {
 border: 1px solid black;
}

h1, th, p, table {
  font-family: Arial, sans-serif;
}

input[type='radio'] {
  height: 35px;
  width: auto;
  webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
  transform: scale(1.5); /* Firefox */
}

button {
  width: 100px;
  height: 70px;
}

table {
  width: 95%;
  font-size: 22px;
}
